/** Variable Imports **/
@import './variables.css';

/**
  CSS Reset
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
**/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** Your CSS Below **/

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: var(--clr-paleBlue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  background-color: var(--clr-white);
  max-width: 660px;
  height: 450px;
  margin: 1rem auto;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0,0,0,0.1);
}

/* Left Panel */
.result {
  background: linear-gradient(
    var(--gra-lightSlateBlue),
    var(--gra-lightRoyalBlue)
  );
  flex: 1;
  padding: 1.8rem 1.4rem;
  border-radius: 20px;
  text-align: center;
}

.result h2 {
  color: var(--clr-lightLavender);
  font-weight: 600;
  font-size: 1.25rem;
  padding-top: -.50rem;
  padding-bottom: 1.5rem;
}

.circle {
  background: linear-gradient(
    var(--gra-violetBlue),
    var(--gra-persianBlue)
  );

  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: .40rem;
  padding-bottom: 1rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Score number */
.circle h3 {
  color: var(--clr-white);
  font-weight: 650;
  font-size: 3.5rem;
}

/* of 100 text */
.circle p {
  color: var(--clr-lightLavender);
  font-size: .50rem;
  margin-top: -8px;
  font-weight: 540;
}

/* Great text */
.result h4 {
  color: var(--clr-white);
  font-size: 1.6rem;
  padding-top: 2rem;
  padding-bottom: .30rem;
}

.description {
  color: var(--clr-lightLavender);
  font-size: 1.2rem;
  padding: 0 .20rem;
  
}

/* Right Panel */
.summary {
  flex: 1;
  padding: 1.8rem 1.4rem;
  border-radius: 0 30px 30px 0;
}

.summary h2 {
  color: var(--clr-darkGrayBlue);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
}

/* The four score rows */
.grid-container {
  display: grid;
  gap: 0.8rem;
  margin-bottom: 1.7rem;
}

/* Shared styling for all score boxes */
.item {
  display: flex;
  align-items: center;
  padding: 0.9rem 1rem;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: var(--fw-regular);
}

/* Labels on left, Reaction words ect. */
.item .label {
  flex: 1;
  margin-left: 0.8rem;
}

.score {
  display: flex;
  align-items: center;
  gap: 3px;
}

.score-number {
  color: var(--clr-darkGrayBlue);
  margin-right: 3px;
  font-weight: var(--fw-bold);
}

.out-of {
  color: color-mix(in srgb, var(--clr-darkGrayBlue) 35%, white);
  font-weight: 600;
}

/* Score colours and background tints */
.reaction {
  background-color: color-mix(in srgb, var(--clr-lightRed) 6%, white);
  color: var(--clr-lightRed);
}

.memory {
  background-color: color-mix(in srgb, var(--clr-orangeYellow) 6%, white);
  color: var(--clr-orangeYellow);
}

.verbal {
  background-color: color-mix(in srgb, var(--clr-greenTeal) 6%, white);
  color: var(--clr-greenTeal);
}

.visual {
  background-color: color-mix(in srgb, var(--clr-cobaltBlue) 6%, white);
  color: var(--clr-cobaltBlue);
}

button {
  width: 100%;
  max-height: 50px;
  padding: 0.9rem;
  border: none;
  border-radius: 30px;
  background-color: var(--clr-darkGrayBlue);
  color: var(--clr-white);
  font-size: 1rem;
  font-weight: 550;
  text-align:center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: var(--gra-lightRoyalBlue);
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    max-width: 100vw;
    box-shadow: none;
    overflow: visible;
    height: auto;
    border-radius: 0;
  }

  .result {
    border-radius: 0 0 30px 30px;
  }

}

/** Attribution CSS **/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }